:root {
  --clr-primary: #fff;
  --clr-text: #1A0000;
  --clr-primary-dark: rgb(248,249,253);
  --clr-text-light: #2424246c;
  --clr-addbtn-hover: #2b2b2b;
  --clr-warning: rgb(255, 184, 184);
  --clr-warning-sat: rgb(255, 112, 112);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--clr-text);
  background-color: var(--clr-primary);
} 

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

input {
  border-style: none;
  -webkit-border-before-style: none;
  font-size: inherit;
}

button {
  border: none;
  background: none;
  font-family: inherit;
}

#root {
  width: 100%;
  margin-inline: auto;
  padding: .6rem;
}

.logo {
  padding-left: .4rem;
  font-family: 'Comic Neue', cursive;
}

.edittag {
  color: rgb(116, 116, 116);
}

.btn {
  padding: .4rem .6rem;
  cursor: pointer;
  border-radius: .2rem;
}

.btn:where(.add) {
  border: 1px solid var(--clr-text);
  background-color: var(--clr-text);
  color: var(--clr-primary);
}

.btn:where(.add):hover {
  background-color: var(--clr-addbtn-hover);
  border: 1px solid var(--clr-addbtn-hover);
}
.btn:where(.delete) {
  background-color: var(--clr-warning);
  border: 1px solid var(--clr-warning-sat);
  color: var(--clr-warning-sat);
}
.btn:where(.delete):hover {
  background-color: var(--clr-warning-sat);
  border: 1px solid var(--clr-warning);
  color: var(--clr-warning);
}

.back {
  display: flex;
  align-items: center;
  margin-block: 1rem;
  padding: .4rem;
}

.flex {
  display: flex;
}

.create__post {
  width: 100%;
}

.create__post form {
  padding-block: 1rem;
}

.create__post input {
  width: 100%;
  border-bottom: 1px solid var(--clr-text-light);
  padding: .4rem;
  font-family: inherit;
}

.create__post input:focus {
  outline: none;
  border-bottom: 1px solid var(--clr-text);
}

.create__post-btn-wrapper {
  width: 100%;
  padding-inline: .4rem;
  justify-content: flex-end;
}

.posts__container {
  width: 100%;
  padding: .4rem;
}

.post__item {
  display: block;
  margin-block: 1rem;
  padding: .4rem;
  border-radius: .6rem;
}

.post__item li {
  border-bottom: 1px solid var(--clr-primary-dark);
  
}

.post__item:hover {
  background-color: var(--clr-primary-dark);
}

.viewpost__wrapper {
  width: 100%;
  padding: .4rem;
}

.viewpost__wrapper p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: .8rem;
}

.timestamp {
  padding-block: .2rem;
}

.viewpost__btns-container {
  padding-block: .8rem;
  padding-inline: .4rem;
  gap: .4rem;
  justify-content: flex-end;
}

.modal__wrapper {
  background-color: rgba(0,0,0, .4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.modal__content {
  width: min(100%, 30rem);
  margin-inline: auto;
  background-color: var(--clr-primary);
  border-radius: .4rem;
  padding: .6rem;
}

@media (min-width: 50em) {
  #root {
    width: 40vw;
  }

  
}

